<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shopping</display-name>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servelet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>com.servelet.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProInfo</display-name>
    <servlet-name>ProInfo</servlet-name>
    <servlet-class>com.servelet.ProInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProInfo</servlet-name>
    <url-pattern>/ProInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShoppingCar</display-name>
    <servlet-name>ShoppingCar</servlet-name>
    <servlet-class>com.servelet.ShoppingCarSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCar</servlet-name>
    <url-pattern>/Spcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManagerSlt</servlet-name>
    <servlet-class>com.servelet.UserManagerSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagerSlt</servlet-name>
    <url-pattern>/UMS</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>com.Filter.RequestFilter</filter-class>
     <init-param>
      <param-name>begin</param-name>
      <param-value>index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>param</param-name>
      <param-value>addressAnd,addJson,goods_detailAnd,IndexAnd,regist.jsp,list.jsp,
      QrCode,ck,qrcheck.jsp,login,index.jsp,ProInfo,goods.jsp,.css,.png,.jpg,.PNG,.JPG,search
      </param-value>
    </init-param>
  </filter>
    <filter-mapping>
    <filter-name>myFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>